html {
	font-size: 30px;
}

body {
	font-size: 16px;
}

hr {
	height: 1.5px;
	border: none;
	color: #505050;
	background-color: #505050;
}

.publication li {
	margin-bottom: 20px;
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #27AE61 url("../img/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

a:hover.back-to-top {
	background-color: #000;
}
